@import "../../../styles.scss";

header {
  margin-bottom: 1rem;
  padding: 0.5em;
  text-align: center;
  position: sticky;
  top: 0;
  background-color: $background-color;
  color: $white-color;

  h3 {
    margin: 0.5rem 0;
  }

  .active-post {
    padding-bottom: 0.5rem;
  }
}
