.post-card {
  padding: 0.8rem;
  aspect-ratio: 1;
  background-color: #fff;
  cursor: pointer;
  text-align: center;
  user-select: none;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgb(0 0 0 / 0.2);
  overflow: hidden; 
  //text-overflow: ellipsis; 
  /* display: flex; 
  flex-direction: row;  */

  
  &:hover {
    box-shadow: 0 4px 12px rgb(0 0 0 / 0.6);
  }

  .post-content {
    overflow: hidden; 
    text-overflow: ellipsis;
  }
}
