.card-container {
  display: grid;
  grid-template-columns: repeat(10, minmax(100px, 1fr));
  grid-gap: 1rem;
  
  @media (max-width: 480px) {
    grid-template-columns: repeat(1, minmax(100px, 1fr));
  }
}
